<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EIDs</title>
    <script src="/static/script.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Stored EIDs</h1>
    <table id="eid-table">
        <tr>
            <th>Register Number</th>
            <th>Industry Identifier</th>
            <th>Specifying Telecommunication</th>
            <th>Country Code</th>
            <th>Issuer Identifier</th>
            <th>Platform Version</th>
            <th>OS Version</th>
            <th>Individual Identification Number</th>
            <th>Check Digits</th>
            <th>EID</th>
        </tr>
    </table>
</body>
</html>

